body {
  background-color: rgba(46,46,56,1);
}

.v126_3 {
  width: 220px;
  height: 226px;
  background: url("../images/v126_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  overflow: hidden;
  margin-top: 2%;
  margin-left: 44%;
}

.v60_383 {
  border-color: rgba(46,46,56,1);
  width: 435px;
  height: 44px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 430px;
  left: 461px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

/* .email{
  color:rgba(217,217,217,1);
  width: 435px;
  height: 44px;
  opacity: 1;
  position: absolute;
  top: 430px;
  left: 461px;
  overflow: hidden;
} */



/* 
.v126_22 {
  width: 35px;
  height: 35px;
  background: url("../images/v126_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 436px;
  left: 510px;
  overflow: hidden;
} */




.v60_386 {
  border-color: rgba(46,46,56,1);
  width: 435px;
  height: 44px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 511px;
  left: 461px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}



.v60_388 {
  color: rgba(0,0,0,1); 
  position: absolute;
  top: 24px;
  left: 89px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  width: 235px;
  height: 48px;
  background: rgba(217,217,217,1);
  opacity: 1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}



.v103_4 {
  width: 401px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 746px;
  left: 490px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}


.v60_389 {
  text-decoration: none;
  width: 172px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 797px;
  left: 600px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}